<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/login.css') }}">

{% extends "base.html" %}
{% block content %}



<div class="wrapper fadeInDown">
  <div id="formContent">
   
    <div class="fadeIn first">
      <img src="{{ url_for('static',filename='sollogo.png') }}" id="icon" alt="User Icon"/>
    </div>

    
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.username(class_="fadeIn second", size=32, placeholder="Username", id="login") }}
        {{ form.email(class_="fadeIn second", size=32, placeholder="E-mail", id="login") }}


        {{ form.password(class_="fadeIn third", size=32, placeholder="Wachtwoord") }}
        {{ form.pass_confirm(class_="fadeIn third", size=32, placeholder="Herhaal wachtwoord") }}
      
        {{ form.submit(class_="fadeIn fourth", value="Registreer") }}
     
    </form>

  </div>
</div>
{% endblock %}